body {
    font-family: 'Overpass Mono', monospace;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* The Beginning of a Beautiful Theme */
.logo {
    width: 250px;
}

.icon {
    border: 8px solid #0055d4;
    border-radius: 200px;
    height: 100px;
    width: 100px;
}

.bit {
    min-width: 250px;
    max-width: 900px;
    width: 100%;
}

ul {
    font-size: 1.5em;
}

ul li:hover {
    color: #0055d4;
    text-decoration: underline;
}

footer {
    margin-top: 50px;
}

footer ul {
    text-align: right;
}