<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
				<img class="logo" src="jagged-bits-logo.svg" />
			
				{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>
						<a href="mailto:giangjac@gmail.com">
							<img class="icon" src="email.svg" />
						</a>
					</li>
					<li>
						<a href="https://github.com/giangjac">
							<img class="icon" src="github.svg" />
						</a>
					</li>
				</ul>
			</footer>
		</body>
	</html>