<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" type="image/svg+xml" href="favicon.svg">
			<link rel="alternate icon" type="image/png" href="favicon.png">
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap" rel="stylesheet"> 
		</head>
		<body>
			<div class="container">
				<img class="logo" src="jagged-bits-logo.svg" alt="logo" />
			
				{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>
						<a href="mailto:giangjac@gmail.com">
							<img class="icon" src="email.svg" alt="email" />
							
						</a>
					</li>
					<li>
						<a href="https://github.com/giangjac">
							<img class="icon" src="github.svg" alt="github" />
						</a>
					</li>
				</ul>
			</footer>
		</body>
	</html>